.logo {
  position: relative;
  display: block;
  min-width: rem(116);
  text-align: center;
  
  &__title {
    position: relative;
    z-index: 2;
    color: $warning-color;
    font-size: rem(34);
    letter-spacing: rem(0.18);
    transition: $default-transition;
  }
  
  &:hover &__title {
    color: $default-color;
    transform: scale(1.1);
  }
  
  &__decor {
    position: absolute;
    top: rem(-78);
    left: rem(-24);
    z-index: 1;
    width: rem(164);
    height: rem(212);
    background: top center / contain no-repeat url(/assets/img/logo-bg.png);
  }

  &__descr {
    flex-basis: rem(271);
    margin-left: rem(24);
    font-size: rem(16);
    line-height: rem(21);
  }
}